{% block menu %}
<div "id="menu"> -->

        <div class="pull-left primary-toc">
            <p><b>Map Legend</b> (Click to close)</p>
            <dl>
                <div class="legend_key">
                <dt>
                    <div class="key_image">
                        <img src="oldmedia/legendSwatch1.jpg">
                    </div>
                </dt>
                <dd>
                    <div class="key_description">
                            Glacial sands and gravels with scrub oak and pine
                    </div>
                </dd>
                </div>

                <div class="legend_key">
                    <div class="key_image">
                        <img src="oldmedia/legendSwatch2.jpg">
                    </div>
                    <div class="key_description">
                            Loess wth mixed diciduous forest
                    </div>
                </div>

                <div class="legend_key">
                    <div class="key_image">
                        <img src="oldmedia/legendSwatch3.jpg">
                    </div>
                    <div class="key_description">
                            Dirt
                    </div>
                </div>

                <div class="legend_key">
                    <div class="key_image">
                        <img src="oldmedia/legendSwatch4.jpg">
                    </div>
                    <div class="key_description">
                            Asphalt
                    </div>
                </div>

                <div class="legend_key">
                    <div class="key_image">
            <img src="oldmedia/legendSwatch5.jpg">
                    </div>
                    <div class="key_description">
                            Dirt/gravel road
                    </div>
                </div>

                <div class="legend_key">
                    <div class="key_image">
                        <img src="oldmedia/legendSwatch6.jpg">
                    </div>
                    <div class="key_description">
                            Building
                    </div>
                </div>

                <div class="legend_key">
                    <div class="key_image">
                        <img src="oldmedia/legendSwatch7.jpg">
                    </div>
                    <div class="key_description">
                            Fence
                    </div>
                </div>

                <div class="legend_key">
                    <div class="key_image">
                        <img src="oldmedia/legendSwatch8.jpg">
                    </div>
                    <div class="key_description">
                            Trees
                    </div>
                </div>

                <div class="legend_key">
                    <div class="key_image">
                        <img src="oldmedia/legendSwatch9.jpg">
                    </div>
                    <div class="key_description">
                            Cultivated Shrubs
                    </div>
                </div>

                <div class="legend_key">
                    <div class="key_image">
                        <img src="oldmedia/legendSwatch10.jpg">
                    </div>
                   <div class="key_description">
                            Grapes (vineyard)
                    </div>
                </div>

                <div class="legend_key">
                    <div class="key_image">
                        <img src="oldmedia/legendSwatch11.jpg">
                    </div>
                    <div class="key_description">
                            Sod
                    </div>
                </div>
            </dl>
        </div>
</div>
{% endblock %}
